body{
    background-color:rgb(12, 12, 12);
}
#meer{
    float: right;
    height: 585px;
    width: 600px;
}
#chuki{
    margin-left: 200px;
    color: white;
    margin-top: 60px;
    text-decoration: underline;
}
#h11{
    color: white;
    text-decoration: underline;
    margin-left: 10px;
}
#cent{
    color: rgb(247, 244, 244);
}
#lik{
    color: white;
    margin-left: 10px;
    font-size: large;
}
#elmn{
    color: white;
    text-decoration: underline;
    margin-left: 10px;
}
#alrt{
    color: white;
    margin-left: 10px;
}
#H22{
    color: white;
    text-decoration: underline;
    margin-left: 10px;
}
#P33{
    color: white;
    margin-left: 10px;
}
#p55{
    color: white;
    margin-left: 110px;
     margin-top: 4%;
}

#pne{
    color: white;
    margin-left: 10px;
    font-size: large;
}